.flex {
    display: flex;
    justify-content: end;
}
.active {
    font-weight: 450;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #fff;
}
.active:hover {
    border: 1px solid  rgb(247, 137, 137);
    /* padding: 3px 10px; */
    background-color:#ef4729;
    color: #fff;
    border-radius: 5px;
}
.header-main {
    background: linear-gradient(rgba(236, 107, 80, 0.8),rgba(236, 107, 80, 0.8)),url(./img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.txt {
    text-align: center;
    padding-top: 20%;
    color: #fff;
}
.txt .btn {
    border-radius: 5px;
    padding: 7px 25px;
}
.txt p {
    padding-top: 30px;
    opacity: 0.8;
    font-size: 12px;
}
.hr {
    max-width: 100px;
    margin: auto;
    opacity: 0.2;
}
.page-one:hover {
    color: #f35336;
    cursor: pointer;
}
.outline-page h1 {
    color: #f35336;
}
.paragraph {
    opacity: 0.8;
}
.btn2 {
    text-decoration: none;
    /* border: 1px solid #ed4f2e; */
    background-color: #ed4f2e;
    padding: 2px 10px;
    border-radius: 5px;
    color: #fff;
}
.btn2:hover {
    background-color: rgb(245, 168, 140);
    color: #fff;
}
.outline-page-two h1 {
    color: #ef4729;
}
.card-hover:hover {
    border: 2px solid #f35336;
}
.end-name h1 {
   color: #ef4729;
}
.input-design {
    width: 520px;
    margin-top: 40px;
    margin-left: 20px;
    padding: 13px;
    border-radius: 10px;
    outline: none;
    border:1px solid #888;
}
.textarea {
    width: 1060px;
   margin-top: 40px;
    border-radius: 15px;
}
.contact-name h1 {
    color: #ef4729;
}
.text-area {
    width: 1060px;
    height: 250px;
    border-radius: 20px;
    border: 1px solid #888;
    margin-top: 40px;
}
.hashtek h5 {
    display: inline;
}
.footer-page {
    background-color: #1f2c33;
}
/* Footer-page styles */

/* 1- icon-page style */

.icon-footer i {
    border: 1px solid #fff;
    padding: 7px;
    margin-top: 50px;
    border-radius: 5px;
    cursor: pointer;
}
.icon-footer i:hover {
    background-color: #ef4729;
    color: #1f2c33;
}

/* 2-About us style */
 .footer-page .first {
     color: #fff;
 }
 /* input-style */
 .input-footer {
    padding: 6px 0;
    border-radius: 6px;
 }
 .second-footer {
     background-color: #153444;
     color: #fff;
 }
